<div class="card mb-3" style="max-width: 340px;"  *ngFor="let jug of jugadoreslib"> 
  <img [src]="jug.foto" class="card-img-top" [alt]="jug.nombre">
    
  <div class="card-body text-center">
    <h5 class="card-title">{{jug.nombre}}</h5>
    <h5 class="card-title">{{jug.edad}}</h5>
  </div>  
  <button type="button" (click)="fichar(jug.id)" class="btn btn-primary">Fichar</button>
</div>

