
<form (ngSubmit)="datos(forma)" #forma="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Usuario</label>
      <input type="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
      placeholder="Ingrese usuario" name="nombre" [(ngModel)]="loginClub.nombre">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" 
      placeholder="Contraseña" name="password" [(ngModel)]="loginClub.password">
    </div>
 
    <div >
 
        <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
  </form>
