<form (ngSubmit)="creajugador(forma)" #forma="ngForm">
    <div class="form-group row">
      <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Nombre</label>
      <div class="col-sm-10">
        <input  name = "jugador.nombre" [(ngModel)]="crearJugador.jugador.nombre" type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Nombre del jugador">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormLabel" class="col-sm-2 col-form-label">Edad</label>
      <div class="col-sm-10">
        <input name = "jugador.edad" [(ngModel)]="crearJugador.jugador.edad" type="email" class="form-control" id="colFormLabel" placeholder="Edad del jugador">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Foto</label>
      <div class="col-sm-10">
        <input  name = "jugador.foto" [(ngModel)]="crearJugador.jugador.foto" type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Foto del jugador">
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-warning">Cargar jugador</button>
    </div>

  </form>